@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@font-face {
  font-family: 'HealthsetGothicLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.0/HealthsetGothicLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #000;
  text-align: center;
}

.box {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  margin-top: 1rem;
  width: 40%;
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  color: #d1581b;
  font-size: 12vw;
}

p {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 5vw;
  color: #ffe494;
}

.explain {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 3.5vw;
  color: #fff;
}

.caution {
  font-family: 'Gowun Dodum', sans-serif;
  color: #fff;
  font-size: 3.3vw;
}

.identifyBtn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  width: 3rem;
  height: 1.5rem;
}

.identifyBtn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.identifyBtn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.identifyBtn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

#timerBox {
  border-radius: 1rem;
  background-color: #fff;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  height: 17vh;
  width: 70vw;
  margin-bottom: 3rem;
}

#timerBox button {
  margin-top: 0.5rem;
}

.latestNum {
  color: #000;
  margin-left: 5px;
  font-size: 2.5vw;
}

#timerBox button:hover {
  cursor: pointer;
}

#done {
  color: #f00;
}

.mainBtn {
  margin-top: 20rem;
  background-color: #fbeee0;
  border: 1px solid #000;
  border-radius: 30px;
  box-shadow: #ece6cc 4px 4px 0 0;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mainBtn:hover {
  background-color: #dfca64;
}

.mainBtn:active {
  box-shadow: #dfca64 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .mainBtn {
    min-width: 120px;
    padding: 0 25px;
  }
}

.latestNum {
  font-family: 'HealthsetGothicLight';
  text-align: center;
  position: relative;
  top: 9.5px;
}

.startBtn {
  font-family: 'SUIT-Medium';
  color: white;
  background-color: #4FC13D;
  width: 50px;
  height: 23px;
  border: none;
}

.stopBtn {
  font-family: 'SUIT-Medium';
  color: white;
  background-color: #df290e;
  width: 50px;
  height: 23px;
  border: none;
}

.start {
  color: #40e36b;
  margin-top: 1rem;
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
}

.tag {
  margin-top: 0.5rem;
}