@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

body {
  background-color: #000;
  text-align: center;
}
.box {
  text-align: center;
}

img {
  display:block;
  margin: auto;
  margin-top: 1rem;
  width: 40%;
  margin-bottom: 2rem;
}

h1 {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  color: #d1581b;
  font-size: 12vw;
}

p {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 5vw;
  color: #ffe494;
}

.explain {
  font-family: 'Gowun Dodum', sans-serif;
  font-size: 3.5vw;
  color: #fff;
}

.caution {
  font-family: 'Gowun Dodum', sans-serif;
  color: #fff;
  font-size: 3.3vw;
}

.identifyBtn {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  width: 3rem;
  height: 1.5rem;
}

.identifyBtn:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.identifyBtn:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.identifyBtn:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

#timerBox {
  border-radius: 1rem;
  background-color: #fff;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff;
  height: 17vh;
  width: 70vw;
  margin-bottom: 3rem;
}

#timerBox button {
  margin-top: 7rem;
}

.latestNum {
  color: #000;
  margin-left: 5px;
  text-align: left;
  font-size: 2.5vw;
}